n8n-workflows/multi-agent-consensus-structured-parser.json
{
  "name": "Thunder Multi-Agent Consensus (Structured Parser)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-agent-consensus",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "multi-agent-consensus"
    },
    {
      "parameters": {
        "agentType": "openAIFunctionsAgent",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "Sen Planning Agent'sın. Üretim planlaması, zamanlama ve kapasite uygunluğunu değerlendiriyorsun.\n\nÖNEMLİ: Prompt'ta zaten tüm gerekli veriler (plan, BOM, stok, kapasite) mevcut. Supabase tool'unu KULLANMA! Prompt'taki verileri analiz et ve karar ver.\n\nKRİTİK KURAL: Yanıtını MUTLAKA JSON formatında ver. Hiçbir açıklama, metin veya ek bilgi ekleme. Sadece JSON object döndür.\n\nYanıt formatı: JSON object olmalı ve şu alanları içermeli:\n- decision: approved, rejected veya needs_review değerlerinden biri\n- reasoning: Kararın gerekçesi (string)\n- confidence: 0.0 ile 1.0 arasında bir sayı\n\nSADECE JSON DÖNDÜR, BAŞKA HİÇBİR ŞEY YAZMA!"
        }
      },
      "id": "planning-agent",
      "name": "Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "planning-model",
      "name": "GPT-4o (Planning)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.body.plan_id || $json.body.order_id || 'default' }}"
      },
      "id": "planning-memory",
      "name": "Simple Memory (Planning)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "jsCode": "// Agent output'unu parse et ve JSON Schema'ya göre validate et\nconst agentOutput = $input.item.json;\n\n// Agent node output formatı: [{\"output\": \"...\"}]\nlet content = '';\n\nif (Array.isArray(agentOutput) && agentOutput.length > 0) {\n  if (agentOutput[0].output && typeof agentOutput[0].output === 'string') {\n    content = agentOutput[0].output;\n  } else if (agentOutput[0].text) {\n    content = agentOutput[0].text;\n  } else {\n    content = JSON.stringify(agentOutput[0]);\n  }\n} else if (agentOutput.output && typeof agentOutput.output === 'string') {\n  content = agentOutput.output;\n} else if (agentOutput.text) {\n  content = agentOutput.text;\n} else if (typeof agentOutput === 'string') {\n  content = agentOutput;\n} else {\n  content = JSON.stringify(agentOutput);\n}\n\n// JSON parse etmeyi dene\nlet parsed = null;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  // JSON parse edilemezse, text içinde JSON aramayı dene\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n}\n\n// Eğer parsed yoksa veya decision yoksa, text'ten decision çıkar\nif (!parsed || !parsed.decision) {\n  const lowerContent = content.toLowerCase();\n  let decision = 'needs_review';\n  let confidence = 0.5;\n  \n  // Decision kelimelerini kontrol et (öncelik sırasına göre)\n  if (lowerContent.includes('rejected') || lowerContent.includes('reject') || lowerContent.includes('cannot') || lowerContent.includes('unable') || lowerContent.includes('not possible')) {\n    decision = 'rejected';\n    confidence = 0.8;\n  } else if (lowerContent.includes('approved') || lowerContent.includes('approve') || lowerContent.includes('can proceed') || lowerContent.includes('ready') || lowerContent.includes('sufficient') || lowerContent.includes('initiated')) {\n    decision = 'approved';\n    confidence = 0.8;\n  } else if (lowerContent.includes('needs_review') || lowerContent.includes('needs review') || lowerContent.includes('review') || lowerContent.includes('clarification') || lowerContent.includes('further')) {\n    decision = 'needs_review';\n    confidence = 0.6;\n  }\n  \n  parsed = parsed || {};\n  parsed.decision = decision;\n  parsed.reasoning = parsed.reasoning || content.substring(0, 500);\n  parsed.confidence = parsed.confidence || confidence;\n}\n\n// Validate ve normalize\nconst result = {\n  decision: parsed.decision && ['approved', 'rejected', 'needs_review'].includes(parsed.decision.toLowerCase()) ? parsed.decision.toLowerCase() : 'needs_review',\n  reasoning: parsed.reasoning && typeof parsed.reasoning === 'string' ? parsed.reasoning : (parsed.reasoning || content.substring(0, 500) || 'Gerekçe belirtilmedi'),\n  confidence: typeof parsed.confidence === 'number' && parsed.confidence >= 0 && parsed.confidence <= 1 ? parsed.confidence : 0.5\n};\n\nreturn {\n  json: result\n};"
      },
      "id": "planning-extract",
      "name": "Parse Planning Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "agentType": "openAIFunctionsAgent",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "Sen Production Agent'sın. Üretim hattı, operatör atama ve üretim süresini değerlendiriyorsun.\n\nÖNEMLİ: Prompt'ta zaten tüm gerekli veriler (plan, kapasite, operatörler) mevcut. Supabase tool'unu KULLANMA! Prompt'taki verileri analiz et ve karar ver.\n\nKRİTİK KURAL: Yanıtını MUTLAKA JSON formatında ver. Hiçbir açıklama, metin veya ek bilgi ekleme. Sadece JSON object döndür.\n\nYanıt formatı: JSON object olmalı ve şu alanları içermeli:\n- decision: approved, rejected veya needs_review değerlerinden biri\n- reasoning: Kararın gerekçesi (string)\n- confidence: 0.0 ile 1.0 arasında bir sayı\n\nSADECE JSON DÖNDÜR, BAŞKA HİÇBİR ŞEY YAZMA!"
        }
      },
      "id": "production-agent",
      "name": "Production Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 700]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "production-model",
      "name": "GPT-4o (Production)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.body.plan_id || $json.body.order_id || 'default' }}"
      },
      "id": "production-memory",
      "name": "Simple Memory (Production)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 800]
    },
    {
      "parameters": {
        "jsCode": "// Agent output'unu parse et ve JSON Schema'ya göre validate et\nconst agentOutput = $input.item.json;\n\n// Agent node output formatı: [{\"output\": \"...\"}]\nlet content = '';\n\nif (Array.isArray(agentOutput) && agentOutput.length > 0) {\n  if (agentOutput[0].output && typeof agentOutput[0].output === 'string') {\n    content = agentOutput[0].output;\n  } else if (agentOutput[0].text) {\n    content = agentOutput[0].text;\n  } else {\n    content = JSON.stringify(agentOutput[0]);\n  }\n} else if (agentOutput.output && typeof agentOutput.output === 'string') {\n  content = agentOutput.output;\n} else if (agentOutput.text) {\n  content = agentOutput.text;\n} else if (typeof agentOutput === 'string') {\n  content = agentOutput;\n} else {\n  content = JSON.stringify(agentOutput);\n}\n\n// JSON parse etmeyi dene\nlet parsed = null;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  // JSON parse edilemezse, text içinde JSON aramayı dene\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n}\n\n// Eğer parsed yoksa veya decision yoksa, text'ten decision çıkar\nif (!parsed || !parsed.decision) {\n  const lowerContent = content.toLowerCase();\n  let decision = 'needs_review';\n  let confidence = 0.5;\n  \n  // Decision kelimelerini kontrol et (öncelik sırasına göre)\n  if (lowerContent.includes('rejected') || lowerContent.includes('reject') || lowerContent.includes('cannot') || lowerContent.includes('unable') || lowerContent.includes('not possible')) {\n    decision = 'rejected';\n    confidence = 0.8;\n  } else if (lowerContent.includes('approved') || lowerContent.includes('approve') || lowerContent.includes('can proceed') || lowerContent.includes('ready') || lowerContent.includes('sufficient') || lowerContent.includes('initiated')) {\n    decision = 'approved';\n    confidence = 0.8;\n  } else if (lowerContent.includes('needs_review') || lowerContent.includes('needs review') || lowerContent.includes('review') || lowerContent.includes('clarification') || lowerContent.includes('further')) {\n    decision = 'needs_review';\n    confidence = 0.6;\n  }\n  \n  parsed = parsed || {};\n  parsed.decision = decision;\n  parsed.reasoning = parsed.reasoning || content.substring(0, 500);\n  parsed.confidence = parsed.confidence || confidence;\n}\n\n// Validate ve normalize\nconst result = {\n  decision: parsed.decision && ['approved', 'rejected', 'needs_review'].includes(parsed.decision.toLowerCase()) ? parsed.decision.toLowerCase() : 'needs_review',\n  reasoning: parsed.reasoning && typeof parsed.reasoning === 'string' ? parsed.reasoning : (parsed.reasoning || content.substring(0, 500) || 'Gerekçe belirtilmedi'),\n  confidence: typeof parsed.confidence === 'number' && parsed.confidence >= 0 && parsed.confidence <= 1 ? parsed.confidence : 0.5\n};\n\nreturn {\n  json: result\n};"
      },
      "id": "production-extract",
      "name": "Parse Production Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 700]
    },
    {
      "parameters": {
        "agentType": "openAIFunctionsAgent",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "Sen Warehouse Agent'sın. Stok yeterliliği, malzeme rezervasyonu ve kritik seviyeleri değerlendiriyorsun.\n\nÖNEMLİ: Prompt'ta zaten tüm gerekli veriler (plan, BOM, stok durumu) mevcut. Supabase tool'unu KULLANMA! Prompt'taki verileri analiz et ve karar ver.\n\nKRİTİK KURAL: Yanıtını MUTLAKA JSON formatında ver. Hiçbir açıklama, metin veya ek bilgi ekleme. Sadece JSON object döndür.\n\nYanıt formatı: JSON object olmalı ve şu alanları içermeli:\n- decision: approved, rejected veya needs_review değerlerinden biri\n- reasoning: Kararın gerekçesi (string)\n- confidence: 0.0 ile 1.0 arasında bir sayı\n\nSADECE JSON DÖNDÜR, BAŞKA HİÇBİR ŞEY YAZMA!"
        }
      },
      "id": "warehouse-agent",
      "name": "Warehouse Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 1100]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "warehouse-model",
      "name": "GPT-4o (Warehouse)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 1000],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.body.plan_id || $json.body.order_id || 'default' }}"
      },
      "id": "warehouse-memory",
      "name": "Simple Memory (Warehouse)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 1200]
    },
    {
      "parameters": {
        "jsCode": "// Agent output'unu parse et ve JSON Schema'ya göre validate et\nconst agentOutput = $input.item.json;\n\n// Agent node output formatı: [{\"output\": \"...\"}]\nlet content = '';\n\nif (Array.isArray(agentOutput) && agentOutput.length > 0) {\n  if (agentOutput[0].output && typeof agentOutput[0].output === 'string') {\n    content = agentOutput[0].output;\n  } else if (agentOutput[0].text) {\n    content = agentOutput[0].text;\n  } else {\n    content = JSON.stringify(agentOutput[0]);\n  }\n} else if (agentOutput.output && typeof agentOutput.output === 'string') {\n  content = agentOutput.output;\n} else if (agentOutput.text) {\n  content = agentOutput.text;\n} else if (typeof agentOutput === 'string') {\n  content = agentOutput;\n} else {\n  content = JSON.stringify(agentOutput);\n}\n\n// JSON parse etmeyi dene\nlet parsed = null;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  // JSON parse edilemezse, text içinde JSON aramayı dene\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n}\n\n// Eğer parsed yoksa veya decision yoksa, text'ten decision çıkar\nif (!parsed || !parsed.decision) {\n  const lowerContent = content.toLowerCase();\n  let decision = 'needs_review';\n  let confidence = 0.5;\n  \n  // Decision kelimelerini kontrol et (öncelik sırasına göre)\n  if (lowerContent.includes('rejected') || lowerContent.includes('reject') || lowerContent.includes('cannot') || lowerContent.includes('unable') || lowerContent.includes('not possible')) {\n    decision = 'rejected';\n    confidence = 0.8;\n  } else if (lowerContent.includes('approved') || lowerContent.includes('approve') || lowerContent.includes('can proceed') || lowerContent.includes('ready') || lowerContent.includes('sufficient') || lowerContent.includes('initiated')) {\n    decision = 'approved';\n    confidence = 0.8;\n  } else if (lowerContent.includes('needs_review') || lowerContent.includes('needs review') || lowerContent.includes('review') || lowerContent.includes('clarification') || lowerContent.includes('further')) {\n    decision = 'needs_review';\n    confidence = 0.6;\n  }\n  \n  parsed = parsed || {};\n  parsed.decision = decision;\n  parsed.reasoning = parsed.reasoning || content.substring(0, 500);\n  parsed.confidence = parsed.confidence || confidence;\n}\n\n// Validate ve normalize\nconst result = {\n  decision: parsed.decision && ['approved', 'rejected', 'needs_review'].includes(parsed.decision.toLowerCase()) ? parsed.decision.toLowerCase() : 'needs_review',\n  reasoning: parsed.reasoning && typeof parsed.reasoning === 'string' ? parsed.reasoning : (parsed.reasoning || content.substring(0, 500) || 'Gerekçe belirtilmedi'),\n  confidence: typeof parsed.confidence === 'number' && parsed.confidence >= 0 && parsed.confidence <= 1 ? parsed.confidence : 0.5\n};\n\nreturn {\n  json: result\n};"
      },
      "id": "warehouse-extract",
      "name": "Parse Warehouse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 1100]
    },
    {
      "parameters": {
        "jsCode": "// Parse node'larından gelen parse edilmiş output'ları al\nconst inputs = $input.all();\n\n// Node adına göre eşleştirme yap\nlet planning = null;\nlet production = null;\nlet warehouse = null;\n\n// Her input'u kontrol et ve node adına göre eşleştir\nfor (const item of inputs) {\n  const json = item.json || {};\n  const nodeName = item._node?.name || '';\n  \n  // Node adına göre eşleştir\n  if (nodeName.includes('Planning') || (!planning && json.decision)) {\n    planning = json;\n  } else if (nodeName.includes('Production') || (!production && json.decision && planning)) {\n    production = json;\n  } else if (nodeName.includes('Warehouse') || (!warehouse && json.decision && planning && production)) {\n    warehouse = json;\n  }\n}\n\n// Eğer hala eşleşmeyen varsa, sırayla ata\nif (!planning && inputs.length > 0) planning = inputs[0]?.json || null;\nif (!production && inputs.length > 1) production = inputs[1]?.json || null;\nif (!warehouse && inputs.length > 2) warehouse = inputs[2]?.json || null;\n\n// Default değerler\nplanning = planning || { decision: 'needs_review', reasoning: 'Planning agent henüz çalışmadı', confidence: 0.5 };\nproduction = production || { decision: 'needs_review', reasoning: 'Production agent henüz çalışmadı', confidence: 0.5 };\nwarehouse = warehouse || { decision: 'needs_review', reasoning: 'Warehouse agent henüz çalışmadı', confidence: 0.5 };\n\nconst agents = [\n  { name: 'Planning', decision: planning.decision || 'needs_review', reasoning: planning.reasoning || '', confidence: planning.confidence || 0.5 },\n  { name: 'Production', decision: production.decision || 'needs_review', reasoning: production.reasoning || '', confidence: production.confidence || 0.5 },\n  { name: 'Warehouse', decision: warehouse.decision || 'needs_review', reasoning: warehouse.reasoning || '', confidence: warehouse.confidence || 0.5 }\n];\n\nconst approveCount = agents.filter(a => a.decision === 'approved').length;\nconst rejectCount = agents.filter(a => a.decision === 'rejected').length;\nconst needsReviewCount = agents.filter(a => a.decision === 'needs_review').length;\n\nconst consensusPrompt = `3 agent'tan gelen cevaplar:\\n\\n${agents.map((a, i) => `${i+1}. ${a.name} Agent:\\n   Karar: ${a.decision}\\n   Güven: ${a.confidence}\\n   Gerekçe: ${a.reasoning}\\n`).join('\\n')}\\n\\nKonsensüs: ${approveCount} approve, ${rejectCount} reject, ${needsReviewCount} needs_review\\n\\nBu 3 agent'ın cevaplarını analiz et ve nihai karar ver.`;\n\n// Webhook'tan plan_id'yi al\nconst webhookData = $node[\"Webhook Trigger\"]?.json || {};\nconst planId = webhookData.body?.plan_id || null;\n\nreturn {\n  json: {\n    agents,\n    consensus: {\n      approve: approveCount,\n      reject: rejectCount,\n      needs_review: needsReviewCount\n    },\n    consensusPrompt,\n    planId\n  }\n};"
      },
      "id": "aggregate",
      "name": "Aggregate Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "agentType": "openAIFunctionsAgent",
        "text": "={{ $json.consensusPrompt }}",
        "options": {
          "systemMessage": "Sen Manager Agent'sın. 3 agent'ın görüşlerini değerlendirerek nihai karar veriyorsun.\n\nKRİTİK KURAL: Yanıtını MUTLAKA JSON formatında ver. Hiçbir açıklama, metin veya ek bilgi ekleme. Sadece JSON object döndür.\n\nYanıt formatı: JSON object olmalı ve şu alanları içermeli:\n- finalDecision: approved, rejected veya needs_review değerlerinden biri\n- reasoning: Nihai kararın gerekçesi (string)\n- consensus: Object içinde approve, reject ve needs_review sayıları\n- confidence: 0.0 ile 1.0 arasında bir sayı\n\nSADECE JSON DÖNDÜR, BAŞKA HİÇBİR ŞEY YAZMA!"
        }
      },
      "id": "manager-agent",
      "name": "Manager Agent (Consensus)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1100, 700]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.4
        }
      },
      "id": "manager-model",
      "name": "GPT-4o (Manager)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1100, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $node[\"Aggregate Responses\"].json.planId || 'default' }}"
      },
      "id": "manager-memory",
      "name": "Simple Memory (Manager)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [1100, 800]
    },
    {
      "parameters": {
        "jsCode": "// Agent output'unu parse et ve JSON Schema'ya göre validate et\nconst agentOutput = $input.item.json;\nconst aggregate = $node[\"Aggregate Responses\"].json;\n\n// Agent node output formatı: [{\"output\": \"...\"}]\nlet content = '';\n\nif (Array.isArray(agentOutput) && agentOutput.length > 0) {\n  if (agentOutput[0].output && typeof agentOutput[0].output === 'string') {\n    content = agentOutput[0].output;\n  } else if (agentOutput[0].text) {\n    content = agentOutput[0].text;\n  } else {\n    content = JSON.stringify(agentOutput[0]);\n  }\n} else if (agentOutput.output && typeof agentOutput.output === 'string') {\n  content = agentOutput.output;\n} else if (agentOutput.text) {\n  content = agentOutput.text;\n} else if (typeof agentOutput === 'string') {\n  content = agentOutput;\n} else {\n  content = JSON.stringify(agentOutput);\n}\n\n// JSON parse etmeyi dene\nlet parsed = null;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  // JSON parse edilemezse, text içinde JSON aramayı dene\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      // JSON bulunamazsa, default değerler döndür\n      parsed = {\n        finalDecision: 'needs_review',\n        reasoning: content.substring(0, 500),\n        consensus: aggregate.consensus || { approve: 0, reject: 0, needs_review: 0 },\n        confidence: 0.5\n      };\n    }\n  } else {\n    // JSON bulunamazsa, default değerler döndür\n    parsed = {\n      finalDecision: 'needs_review',\n      reasoning: content.substring(0, 500),\n      consensus: aggregate.consensus || { approve: 0, reject: 0, needs_review: 0 },\n      confidence: 0.5\n    };\n  }\n}\n\n// JSON Schema validation ve normalize\nconst result = {\n  finalDecision: parsed.finalDecision && ['approved', 'rejected', 'needs_review'].includes(parsed.finalDecision) ? parsed.finalDecision : 'needs_review',\n  reasoning: parsed.reasoning && typeof parsed.reasoning === 'string' ? parsed.reasoning : (parsed.reasoning || content.substring(0, 500) || 'Gerekçe belirtilmedi'),\n  consensus: parsed.consensus && typeof parsed.consensus === 'object' ? {\n    approve: typeof parsed.consensus.approve === 'number' ? parsed.consensus.approve : (aggregate.consensus?.approve || 0),\n    reject: typeof parsed.consensus.reject === 'number' ? parsed.consensus.reject : (aggregate.consensus?.reject || 0),\n    needs_review: typeof parsed.consensus.needs_review === 'number' ? parsed.consensus.needs_review : (aggregate.consensus?.needs_review || 0)\n  } : (aggregate.consensus || { approve: 0, reject: 0, needs_review: 0 }),\n  confidence: typeof parsed.confidence === 'number' && parsed.confidence >= 0 && parsed.confidence <= 1 ? parsed.confidence : 0.5\n};\n\nreturn {\n  json: result\n};"
      },
      "id": "manager-extract",
      "name": "Parse Manager Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 700]
    },
    {
      "parameters": {
        "jsCode": "const managerParsed = $input.item.json;\nconst aggregate = $node[\"Aggregate Responses\"].json;\n\nreturn {\n  json: {\n    success: true,\n    workflow: 'multi-agent-consensus-structured-parser',\n    finalDecision: managerParsed.finalDecision || 'needs_review',\n    consensus: managerParsed.consensus || aggregate.consensus,\n    agentResponses: aggregate.agents,\n    managerReasoning: managerParsed.reasoning || 'Gerekçe belirtilmedi.',\n    confidence: managerParsed.confidence || 0.5,\n    planId: aggregate.planId\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1900, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Planning Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Production Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Warehouse Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent": {
      "main": [
        [
          {
            "node": "Parse Planning Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planning Output": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Production Agent": {
      "main": [
        [
          {
            "node": "Parse Production Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Production Output": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warehouse Agent": {
      "main": [
        [
          {
            "node": "Parse Warehouse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Warehouse Output": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Responses": {
      "main": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent (Consensus)": {
      "main": [
        [
          {
            "node": "Parse Manager Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Manager Output": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Planning)": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Planning)": {
      "ai_memory": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Production)": {
      "ai_languageModel": [
        [
          {
            "node": "Production Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Production)": {
      "ai_memory": [
        [
          {
            "node": "Production Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Warehouse)": {
      "ai_languageModel": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Warehouse)": {
      "ai_memory": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Manager)": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Manager)": {
      "ai_memory": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}

