n8n-workflows/multi-agent-consensus-supabase-tool.json
{
  "name": "Thunder Multi-Agent Consensus (Supabase Native Tool)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-agent-consensus",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "multi-agent-consensus"
    },
    {
      "parameters": {
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "Sen Planning Agent'sın. Üretim planlaması, zamanlama ve kapasite uygunluğunu değerlendiriyorsun.\n\nÖNEMLİ: Prompt'ta zaten tüm gerekli veriler (plan, BOM, stok, kapasite) mevcut. Supabase tool'unu KULLANMA! Prompt'taki verileri analiz et ve karar ver.\n\nYanıtını JSON formatında ver. decision field'ı approved, rejected veya needs_review olabilir. reasoning field'ı karar gerekçesini içermeli. confidence field'ı 0.0 ile 1.0 arasında bir sayı olmalı."
        }
      },
      "id": "planning-agent",
      "name": "Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "planning-model",
      "name": "GPT-4o (Planning)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.body.plan_id || $json.body.order_id || 'default' }}"
      },
      "id": "planning-memory",
      "name": "Simple Memory (Planning)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "Sen Production Agent'sın. Üretim hattı, operatör atama ve üretim süresini değerlendiriyorsun.\n\nÖNEMLİ: Prompt'ta zaten tüm gerekli veriler (plan, kapasite, operatörler) mevcut. Supabase tool'unu KULLANMA! Prompt'taki verileri analiz et ve karar ver.\n\nYanıtını JSON formatında ver. decision field'ı approved, rejected veya needs_review olabilir. reasoning field'ı karar gerekçesini içermeli. confidence field'ı 0.0 ile 1.0 arasında bir sayı olmalı."
        }
      },
      "id": "production-agent",
      "name": "Production Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 700]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "production-model",
      "name": "GPT-4o (Production)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.body.plan_id || $json.body.order_id || 'default' }}"
      },
      "id": "production-memory",
      "name": "Simple Memory (Production)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 800]
    },
    {
      "parameters": {
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "Sen Warehouse Agent'sın. Stok yeterliliği, malzeme rezervasyonu ve kritik seviyeleri değerlendiriyorsun.\n\nÖNEMLİ: Prompt'ta zaten tüm gerekli veriler (plan, BOM, stok durumu) mevcut. Supabase tool'unu KULLANMA! Prompt'taki verileri analiz et ve karar ver.\n\nYanıtını JSON formatında ver. decision field'ı approved, rejected veya needs_review olabilir. reasoning field'ı karar gerekçesini içermeli. confidence field'ı 0.0 ile 1.0 arasında bir sayı olmalı."
        }
      },
      "id": "warehouse-agent",
      "name": "Warehouse Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 1100]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "warehouse-model",
      "name": "GPT-4o (Warehouse)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 1000],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.body.plan_id || $json.body.order_id || 'default' }}"
      },
      "id": "warehouse-memory",
      "name": "Simple Memory (Warehouse)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 1200]
    },
    {
      "parameters": {
        "jsCode": "// Tüm input'ları al (3 agent'tan gelen cevaplar)\nconst inputs = $input.all();\n\n// Debug: Input sayısını ve içeriğini kontrol et\n// console.log('Total inputs:', inputs.length);\n// inputs.forEach((item, idx) => console.log(`Input ${idx}:`, Object.keys(item.json || {})));\n\n// Agent'ları sırayla eşleştir (Planning, Production, Warehouse)\nlet planning = null;\nlet production = null;\nlet warehouse = null;\n\n// Her input'u kontrol et - n8n'de input'lar genellikle sırayla gelir\n// İlk input Planning, ikinci Production, üçüncü Warehouse olmalı\nif (inputs.length > 0) planning = inputs[0].json;\nif (inputs.length > 1) production = inputs[1].json;\nif (inputs.length > 2) warehouse = inputs[2].json;\n\n// Alternatif: Output içeriğine göre eşleştirme\nfor (const item of inputs) {\n  const json = item.json || {};\n  \n  // Output içeriğini kontrol et\n  let outputContent = '';\n  if (Array.isArray(json) && json.length > 0) {\n    outputContent = json[0].output || json[0].text || JSON.stringify(json[0]);\n  } else if (json.output) {\n    outputContent = json.output;\n  } else if (json.text) {\n    outputContent = json.text;\n  } else {\n    outputContent = JSON.stringify(json);\n  }\n  \n  // Output içeriğine göre agent'ı belirle\n  const lowerContent = outputContent.toLowerCase();\n  \n  // Planning Agent genellikle \"planning\", \"capacity\" gibi kelimeler içerir\n  if (!planning && (lowerContent.includes('planning') || lowerContent.includes('capacity') || lowerContent.includes('plan'))) {\n    planning = json;\n  }\n  // Production Agent genellikle \"production\", \"operator\" gibi kelimeler içerir\n  else if (!production && (lowerContent.includes('production') || lowerContent.includes('operator') || lowerContent.includes('manufacturing'))) {\n    production = json;\n  }\n  // Warehouse Agent genellikle \"warehouse\", \"stock\", \"material\" gibi kelimeler içerir\n  else if (!warehouse && (lowerContent.includes('warehouse') || lowerContent.includes('stock') || lowerContent.includes('material') || lowerContent.includes('inventory'))) {\n    warehouse = json;\n  }\n  // Eğer hiçbiri eşleşmezse, sırayla ata\n  else if (!planning) {\n    planning = json;\n  } else if (!production) {\n    production = json;\n  } else if (!warehouse) {\n    warehouse = json;\n  }\n}\n\nfunction parseAgent(input, name) {\n  if (!input) {\n    return {\n      decision: 'needs_review',\n      reasoning: name + ' agent henüz çalışmadı veya cevap vermedi',\n      confidence: 0.5\n    };\n  }\n  \n  let content = '';\n  \n  // n8n Agent node output formatı: [{\"output\": \"...\"}]\n  if (Array.isArray(input) && input.length > 0) {\n    if (input[0].output && typeof input[0].output === 'string') {\n      content = input[0].output;\n    } else if (input[0].text) {\n      content = input[0].text;\n    } else {\n      content = JSON.stringify(input[0]);\n    }\n  }\n  // Object formatı\n  else if (input.output && typeof input.output === 'string') {\n    content = input.output;\n  } else if (input.text) {\n    content = input.text;\n  } else if (typeof input === 'string') {\n    content = input;\n  } else {\n    content = JSON.stringify(input);\n  }\n  \n  // JSON parse etmeyi dene\n  try {\n    if (typeof content === 'string') {\n      const parsed = JSON.parse(content);\n      if (parsed && typeof parsed === 'object' && parsed.decision) {\n        return parsed;\n      }\n      if (typeof parsed === 'string') {\n        return JSON.parse(parsed);\n      }\n      return parsed;\n    }\n    return content;\n  } catch (e) {\n    // JSON parse edilemezse, text içinde JSON aramayı dene\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try {\n        return JSON.parse(jsonMatch[0]);\n      } catch (e2) {\n        // JSON bulunamazsa, text'i decision olarak kullan\n        const lowerContent = content.toLowerCase();\n        let decision = 'needs_review';\n        if (lowerContent.includes('rejected') || lowerContent.includes('reject')) {\n          decision = 'rejected';\n        } else if (lowerContent.includes('approved') || lowerContent.includes('approve')) {\n          decision = 'approved';\n        }\n        return {\n          decision: decision,\n          reasoning: content.substring(0, 500),\n          confidence: decision !== 'needs_review' ? 0.8 : 0.5\n        };\n      }\n    }\n    // JSON bulunamazsa, text'i decision olarak kullan\n    const lowerContent = content.toLowerCase();\n    let decision = 'needs_review';\n    if (lowerContent.includes('rejected') || lowerContent.includes('reject')) {\n      decision = 'rejected';\n    } else if (lowerContent.includes('approved') || lowerContent.includes('approve')) {\n      decision = 'approved';\n    }\n    return {\n      decision: decision,\n      reasoning: content.substring(0, 500),\n      confidence: decision !== 'needs_review' ? 0.8 : 0.5\n    };\n  }\n}\n\nconst p = parseAgent(planning, 'Planning');\nconst pr = parseAgent(production, 'Production');\nconst w = parseAgent(warehouse, 'Warehouse');\n\nconst agents = [\n  { name: 'Planning', decision: p.decision || 'needs_review', reasoning: p.reasoning || '', confidence: p.confidence || 0.5 },\n  { name: 'Production', decision: pr.decision || 'needs_review', reasoning: pr.reasoning || '', confidence: pr.confidence || 0.5 },\n  { name: 'Warehouse', decision: w.decision || 'needs_review', reasoning: w.reasoning || '', confidence: w.confidence || 0.5 }\n];\n\nconst approveCount = agents.filter(a => a.decision === 'approved').length;\nconst rejectCount = agents.filter(a => a.decision === 'rejected').length;\nconst needsReviewCount = agents.filter(a => a.decision === 'needs_review').length;\n\nconst consensusPrompt = `3 agent'tan gelen cevaplar:\\n\\n${agents.map((a, i) => `${i+1}. ${a.name} Agent:\\n   Karar: ${a.decision}\\n   Güven: ${a.confidence}\\n   Gerekçe: ${a.reasoning}\\n`).join('\\n')}\\n\\nKonsensüs: ${approveCount} approve, ${rejectCount} reject, ${needsReviewCount} needs_review\\n\\nBu 3 agent'ın cevaplarını analiz et ve nihai karar ver.`;\n\n// Webhook'tan plan_id'yi al\nconst webhookData = $node[\"Webhook Trigger\"]?.json || {};\nconst planId = webhookData.body?.plan_id || null;\n\nreturn {\n  json: {\n    agents,\n    consensus: {\n      approve: approveCount,\n      reject: rejectCount,\n      needs_review: needsReviewCount\n    },\n    consensusPrompt,\n    planId\n  }\n};"
      },
      "id": "aggregate",
      "name": "Aggregate Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 500]
    },
    {
      "parameters": {
        "text": "={{ $json.consensusPrompt }}",
        "options": {
          "systemMessage": "Sen Manager Agent'sın. 3 agent'ın görüşlerini değerlendirerek nihai karar veriyorsun. Yanıtını JSON formatında ver. finalDecision field'ı approved, rejected veya needs_review olabilir. reasoning field'ı karar gerekçesini içermeli. consensus field'ı approve, reject ve needs_review sayılarını içermeli. confidence field'ı 0.0 ile 1.0 arasında bir sayı olmalı."
        }
      },
      "id": "manager-agent",
      "name": "Manager Agent (Consensus)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.4
        }
      },
      "id": "manager-model",
      "name": "GPT-4o (Manager)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1100, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $node[\"Aggregate Responses\"].json.planId || 'default' }}"
      },
      "id": "manager-memory",
      "name": "Simple Memory (Manager)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "jsCode": "const managerRaw = $input.item.json;\nconst aggregate = $node[\"Aggregate Responses\"].json;\n\nlet content = '';\nif (managerRaw.output && typeof managerRaw.output === 'string') {\n  content = managerRaw.output;\n} else if (managerRaw.text) {\n  content = managerRaw.text;\n} else if (typeof managerRaw === 'string') {\n  content = managerRaw;\n} else {\n  content = JSON.stringify(managerRaw);\n}\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  parsed = {\n    finalDecision: 'needs_review',\n    reasoning: 'Manager Agent cevabı parse edilemedi.',\n    confidence: 0.5\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    workflow: 'multi-agent-consensus-supabase-tool',\n    finalDecision: parsed.finalDecision || 'needs_review',\n    consensus: parsed.consensus || aggregate.consensus,\n    agentResponses: aggregate.agents,\n    managerReasoning: parsed.reasoning || 'Gerekçe belirtilmedi.',\n    confidence: parsed.confidence || 0.5,\n    planId: aggregate.planId\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1700, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Planning Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Production Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Warehouse Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Production Agent": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warehouse Agent": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Responses": {
      "main": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent (Consensus)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Planning)": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Planning)": {
      "ai_memory": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Production)": {
      "ai_languageModel": [
        [
          {
            "node": "Production Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Production)": {
      "ai_memory": [
        [
          {
            "node": "Production Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Warehouse)": {
      "ai_languageModel": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Warehouse)": {
      "ai_memory": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Manager)": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Manager)": {
      "ai_memory": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
