n8n-workflows/multi-agent-consensus-supabase-tool.json
{
  "name": "Thunder Multi-Agent Consensus (Supabase Native Tool)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-agent-consensus",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "multi-agent-consensus"
    },
    {
      "parameters": {
        "text": "={{ `Plan ID: ${$json.body.plan_id}\n\nBu plan için üretim planlaması yap. Supabase tool'unu kullanarak SADECE bu plan_id'ye ait verileri çek:\n1. production_plans tablosundan id='${$json.body.plan_id}' olan planı çek\n2. Bu planın order_id'sini kullanarak orders tablosundan sipariş bilgilerini al\n3. Bu planın product_id'sini kullanarak finished_products tablosundan ürün bilgilerini al\n4. operators tablosundan aktif operatörleri ve kapasite bilgilerini çek\n\nÖNEMLİ: Tüm tabloyu çekme, sadece bu plan_id ile ilgili verileri filtrele!\n\nYanıtı JSON formatında ver: {\"decision\": \"approved\" | \"rejected\" | \"needs_review\", \"reasoning\": \"...\", \"confidence\": 0.0-1.0}` }}",
        "options": {
          "systemMessage": "Sen Planning Agent'sın. Üretim planlaması, zamanlama ve kapasite uygunluğunu değerlendiriyorsun. Supabase tool'unu kullanırken MUTLAKA filtreleme yap: production_plans tablosunda id filtresi kullan, tüm tabloyu çekme! Önce belirtilen plan_id ile production_plans'tan plan bilgilerini çek, sonra bu planın order_id ve product_id'sini kullanarak ilgili orders ve finished_products kayıtlarını al. Kapasite için operators tablosundan sadece aktif (status='active') operatörleri çek."
        }
      },
      "id": "planning-agent",
      "name": "Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "planning-model",
      "name": "GPT-4o (Planning)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "id": "planning-memory",
      "name": "Simple Memory (Planning)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $json.toolInput?.table || 'production_plans' }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [500, 500],
      "id": "planning-supabase-tool",
      "name": "Supabase Tool (Planning)",
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ `Plan ID: ${$json.body.plan_id}\n\nBu plan için üretilebilirliği değerlendir. Supabase tool'unu kullanarak SADECE bu plan ile ilgili verileri çek:\n1. production_plans tablosundan id='${$json.body.plan_id}' olan planı çek\n2. operators tablosundan sadece aktif (status='active') operatörleri çek\n3. Bu planın product_id'sini kullanarak üretim süresi bilgilerini kontrol et\n\nÖNEMLİ: Tüm tabloyu çekme, sadece bu plan_id ile ilgili verileri filtrele!\n\nYanıtı JSON formatında ver: {\"decision\": \"approved\" | \"rejected\" | \"needs_review\", \"reasoning\": \"...\", \"confidence\": 0.0-1.0}` }}",
        "options": {
          "systemMessage": "Sen Production Agent'sın. Üretim hattı, operatör atama ve üretim süresini değerlendiriyorsun. Supabase tool'unu kullanırken MUTLAKA filtreleme yap: production_plans tablosunda id filtresi kullan, operators tablosunda status='active' filtresi kullan, tüm tabloyu çekme! Sadece belirtilen plan_id ile ilgili verileri çek."
        }
      },
      "id": "production-agent",
      "name": "Production Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 700]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "production-model",
      "name": "GPT-4o (Production)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "id": "production-memory",
      "name": "Simple Memory (Production)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 800]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $json.toolInput?.table || 'operators' }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [500, 900],
      "id": "production-supabase-tool",
      "name": "Supabase Tool (Production)",
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ `Plan ID: ${$json.body.plan_id}\n\nBu plan için stok ve malzeme yeterliliğini değerlendir. Supabase tool'unu kullanarak SADECE bu plan ile ilgili verileri çek:\n1. production_plans tablosundan id='${$json.body.plan_id}' olan planı çek\n2. Bu planın product_id'sini kullanarak bom tablosundan sadece bu ürüne ait malzeme listesini çek (product_id filtresi kullan)\n3. Her malzeme için raw_materials veya semi_finished_products tablolarından stok bilgilerini kontrol et (material_id filtresi kullan)\n\nÖNEMLİ: Tüm tabloyu çekme, sadece bu plan_id ve product_id ile ilgili verileri filtrele!\n\nYanıtı JSON formatında ver: {\"decision\": \"approved\" | \"rejected\" | \"needs_review\", \"reasoning\": \"...\", \"confidence\": 0.0-1.0}` }}",
        "options": {
          "systemMessage": "Sen Warehouse Agent'sın. Stok yeterliliği, malzeme rezervasyonu ve kritik seviyeleri değerlendiriyorsun. Supabase tool'unu kullanırken MUTLAKA filtreleme yap: production_plans tablosunda id filtresi kullan, bom tablosunda product_id filtresi kullan, raw_materials ve semi_finished_products tablolarında material_id filtresi kullan, tüm tabloyu çekme! Önce belirtilen plan_id ile production_plans'tan product_id'yi al, sonra bu product_id ile bom'dan malzeme listesini çek, her malzeme için stok bilgilerini kontrol et."
        }
      },
      "id": "warehouse-agent",
      "name": "Warehouse Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [500, 1100]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 512,
          "temperature": 0.5
        }
      },
      "id": "warehouse-model",
      "name": "GPT-4o (Warehouse)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [500, 1000],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "id": "warehouse-memory",
      "name": "Simple Memory (Warehouse)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 1200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $json.toolInput?.table || 'bom' }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [500, 1300],
      "id": "warehouse-supabase-tool",
      "name": "Supabase Tool (Warehouse)",
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const planning = $node[\"Planning Agent\"].json;\nconst production = $node[\"Production Agent\"].json;\nconst warehouse = $node[\"Warehouse Agent\"].json;\n\nfunction parseAgent(input, name) {\n  let content = '';\n  if (input.output && typeof input.output === 'string') {\n    content = input.output;\n  } else if (input.text) {\n    content = input.text;\n  } else if (typeof input === 'string') {\n    content = input;\n  } else {\n    content = JSON.stringify(input);\n  }\n  \n  try {\n    if (typeof content === 'string') {\n      const parsed = JSON.parse(content);\n      return parsed;\n    }\n    return content;\n  } catch (e) {\n    return {\n      decision: 'needs_review',\n      reasoning: `${name} agent cevabı: ${content}`,\n      confidence: 0.5\n    };\n  }\n}\n\nconst p = parseAgent(planning, 'Planning');\nconst pr = parseAgent(production, 'Production');\nconst w = parseAgent(warehouse, 'Warehouse');\n\nconst agents = [\n  { name: 'Planning', decision: p.decision || 'needs_review', reasoning: p.reasoning || '', confidence: p.confidence || 0.5 },\n  { name: 'Production', decision: pr.decision || 'needs_review', reasoning: pr.reasoning || '', confidence: pr.confidence || 0.5 },\n  { name: 'Warehouse', decision: w.decision || 'needs_review', reasoning: w.reasoning || '', confidence: w.confidence || 0.5 }\n];\n\nconst approveCount = agents.filter(a => a.decision === 'approved').length;\nconst rejectCount = agents.filter(a => a.decision === 'rejected').length;\nconst needsReviewCount = agents.filter(a => a.decision === 'needs_review').length;\n\nconst consensusPrompt = `3 agent'tan gelen cevaplar:\\n\\n${agents.map((a, i) => `${i+1}. ${a.name} Agent:\\n   Karar: ${a.decision}\\n   Güven: ${a.confidence}\\n   Gerekçe: ${a.reasoning}\\n`).join('\\n')}\\n\\nKonsensüs: ${approveCount} approve, ${rejectCount} reject, ${needsReviewCount} needs_review\\n\\nBu 3 agent'ın cevaplarını analiz et ve nihai karar ver.`;\n\nreturn {\n  json: {\n    agents,\n    consensus: {\n      approve: approveCount,\n      reject: rejectCount,\n      needs_review: needsReviewCount\n    },\n    consensusPrompt,\n    planId: $node[\"Webhook Trigger\"].json.body.plan_id\n  }\n};"
      },
      "id": "aggregate",
      "name": "Aggregate Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 500]
    },
    {
      "parameters": {
        "text": "={{ $json.consensusPrompt }}",
        "options": {
          "systemMessage": "Sen Manager Agent'sın. 3 agent'ın görüşlerini değerlendirerek nihai karar veriyorsun. Yanıtı JSON formatında ver: {\"finalDecision\": \"approved\" | \"rejected\" | \"needs_review\", \"reasoning\": \"...\", \"consensus\": {\"approve\": n, \"reject\": n, \"needs_review\": n}, \"confidence\": 0.0-1.0}"
        }
      },
      "id": "manager-agent",
      "name": "Manager Agent (Consensus)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.4
        }
      },
      "id": "manager-model",
      "name": "GPT-4o (Manager)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1100, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "id": "manager-memory",
      "name": "Simple Memory (Manager)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "jsCode": "const managerRaw = $input.item.json;\nconst aggregate = $node[\"Aggregate Responses\"].json;\n\nlet content = '';\nif (managerRaw.output && typeof managerRaw.output === 'string') {\n  content = managerRaw.output;\n} else if (managerRaw.text) {\n  content = managerRaw.text;\n} else if (typeof managerRaw === 'string') {\n  content = managerRaw;\n} else {\n  content = JSON.stringify(managerRaw);\n}\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  parsed = {\n    finalDecision: 'needs_review',\n    reasoning: 'Manager Agent cevabı parse edilemedi.',\n    confidence: 0.5\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    workflow: 'multi-agent-consensus-supabase-tool',\n    finalDecision: parsed.finalDecision || 'needs_review',\n    consensus: parsed.consensus || aggregate.consensus,\n    agentResponses: aggregate.agents,\n    managerReasoning: parsed.reasoning || 'Gerekçe belirtilmedi.',\n    confidence: parsed.confidence || 0.5,\n    planId: aggregate.planId\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1700, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Planning Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Production Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Warehouse Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Production Agent": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warehouse Agent": {
      "main": [
        [
          {
            "node": "Aggregate Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Responses": {
      "main": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent (Consensus)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Planning)": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Planning)": {
      "ai_memory": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Tool (Planning)": {
      "ai_tool": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Production)": {
      "ai_languageModel": [
        [
          {
            "node": "Production Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Production)": {
      "ai_memory": [
        [
          {
            "node": "Production Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Tool (Production)": {
      "ai_tool": [
        [
          {
            "node": "Production Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Warehouse)": {
      "ai_languageModel": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Warehouse)": {
      "ai_memory": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Tool (Warehouse)": {
      "ai_tool": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o (Manager)": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Manager)": {
      "ai_memory": [
        [
          {
            "node": "Manager Agent (Consensus)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
